
---
BasedOnStyle : Google

IndentWidth: 2

AccessModifierOffset    : -2
ColumnLimit             : 120
CommentPragmas          :  '^\\.+'
SpaceBeforeParens       : ControlStatements
SpaceInEmptyParentheses : false
Standard                : c++20

AllowShortBlocksOnASingleLine       : false
AllowShortCaseLabelsOnASingleLine   : true
AllowShortEnumsOnASingleLine        : true
AllowShortFunctionsOnASingleLine    : InlineOnly
AllowShortIfStatementsOnASingleLine : false
AllowShortLambdasOnASingleLine      : true
AllowShortLoopsOnASingleLine        : false
AlwaysBreakTemplateDeclarations     : MultiLine
IndentCaseLabels                    : false

IndentRequiresClause : true
RequiresClausePosition : OwnLine
RequiresExpressionIndentation : OuterScope
