---
Checks:            |-
  *,
  -altera-*,
  -cert-dcl21-cpp,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -fuchsia-*,
  -llvmlibc-*,
  -misc-no-recursion,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers

WarningsAsErrors:  ''
HeaderFilterRegex: ''
FormatStyle:       file
User:              paul
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key:   cppcoreguidelines-avoid-magic-numbers.IgnorePowersOf2IntegerValues
    value: true
  - key:   readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: true
  - key:   hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
    value: true
  - key:   misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
...
