name: CI Build & Test
# Triggers the workflow on push or pull request events
on: [push, pull_request]
permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        include:
          # macOS builds
          # ~~~~~~~~~~~~
          - name: macOS-15/Xcode/Debug
            build_type: Debug
            generator: Xcode
            options:
            os: macos-15

          - name: macOS-15/Xcode/Debug/mprotect-variant
            build_type: Debug
            generator: Xcode
            options: -D PEEJAY_MPROTECT_VARIANT=Yes
            os: macos-15

          - name: macOS-15/Xcode/Release
            build_type: Release
            generator: Xcode
            options:
            os: macos-15

          # Linux builds
          # ~~~~~~~~~~~~
          - name: Ubuntu-24.04/clang-18/Debug
            apt_install: cmake ninja-build
            llvm_install: 18
            build_type: Debug
            cxx_compiler: -D CMAKE_CXX_COMPILER=clang++-18 -D CMAKE_C_COMPILER=clang-18
            generator: Ninja
            options:
            os: ubuntu-24.04

          - name: Ubuntu-24.04/clang-18/Debug/mprotect-variant
            apt_install: cmake ninja-build
            llvm_install: 18
            build_type: Debug
            cxx_compiler: -D CMAKE_CXX_COMPILER=clang++-18 -D CMAKE_C_COMPILER=clang-18
            generator: Ninja
            options: -D PEEJAY_MPROTECT_VARIANT=Yes
            os: ubuntu-24.04

          - name: Ubuntu-24.04/clang-18/Release
            apt_install: cmake ninja-build
            llvm_install: 18
            build_type: Release
            cxx_compiler: -D CMAKE_CXX_COMPILER=clang++-18 -D CMAKE_C_COMPILER=clang-18
            generator: Ninja
            options:
            os: ubuntu-24.04

          - name: Ubuntu-24.04/gcc-14/Debug
            apt_install: cmake ninja-build
            gcc_install: 14
            build_type: Debug
            generator: Ninja
            options:
            os: ubuntu-24.04

          - name: Ubuntu-24.04/gcc-14/Release
            apt_install: cmake ninja-build
            gcc_install: 14
            build_type: Release
            generator: Ninja
            options:
            os: ubuntu-24.04

          # Windows builds
          # ~~~~~~~~~~~~~~
          - name: Windows-latest/VS2022/Debug
            build_type: Debug
            generator: Visual Studio 17 2022
            options:
            os: windows-latest

          - name: Windows-latest/VS2022/Debug/mprotect-variant
            build_type: Debug
            generator: Visual Studio 17 2022
            options: -D PEEJAY_MPROTECT_VARIANT=Yes
            os: windows-latest

          - name: Windows-latest/VS2022/Release
            build_type: Release
            generator: Visual Studio 17 2022
            options:
            os: windows-latest

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: 'True'

      - name: Install Dependencies (Linux)
        if: startsWith (matrix.os, 'ubuntu-') && matrix.apt_install != ''
        run: sudo apt-get update && sudo apt-get install -y ${{ matrix.apt_install }}

      - name: Install Dependencies (GCC)
        if: matrix.gcc_install != ''
        run: |
          sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
          sudo apt install -y "g++-${{ matrix.gcc_install }}" \
                              "libstdc++-${{ matrix.gcc_install }}-dev"

      - name: Install Dependencies (LLVM)
        if: matrix.llvm_install != ''
        uses: paulhuggett/install-llvm@ad897b4b1cf03f54c1218ec6d97a23ff4b10b870 # v1.0
        with:
          version: ${{matrix.llvm_install}}

      - name: Create Build Environment
        run: cmake -E make_directory ${{ github.workspace }}/build

      - name: Configure CMake
        shell: bash
        run: |
          cmake -S "$GITHUB_WORKSPACE"                       \
                -B "${{ github.workspace }}/build"           \
                -G "${{ matrix.generator }}"                 \
                -D CMAKE_BUILD_TYPE=${{ matrix.build_type }} \
                -D WERROR=Yes                                \
                ${{ matrix.cxx_compiler }}                   \
                ${{ matrix.options }}

      - name: Build
        shell: bash
        run: cmake --build "${{ github.workspace }}/build" --config ${{ matrix.build_type }}
