name: CodeCov
on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]
permissions:
  contents: read

jobs:
  codecov:
    name: Build
    runs-on: ubuntu-latest
    env:
      BUILD_DIR: build_codecov
      GCC_VERSION: 13

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: 'True'

      - name: Install Dependencies
        run: |
          sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
          sudo apt-get update
          sudo apt-get install -y "gcc-$GCC_VERSION" "g++-$GCC_VERSION"
          sudo apt-get install -y cmake lcov ninja-build

      - name: Configure Build
        run: |
          mkdir "$BUILD_DIR"
          cmake                                     \
            -G Ninja                                \
            -S .                                    \
            -B "$BUILD_DIR"                         \
            -D PEEJAY_COVERAGE=Yes                  \
            -D CMAKE_C_COMPILER="gcc-$GCC_VERSION"  \
            -D CMAKE_CXX_COMPILER="g++-$GCC_VERSION"

      - name: Build
        run: |
            cmake --build "$BUILD_DIR" --verbose

      - name: Collect the Coverage
        run: |
          set -x
          lcov                              \
            --capture                       \
            --output-file coverage.info     \
            --directory "$BUILD_DIR"        \
            --gcov-tool "gcov-$GCC_VERSION" \
            --include "$(pwd)/*.?pp"        \
            --ignore-errors mismatch

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
