name: Doxygen
on: workflow_dispatch
permissions:
  contents: read

jobs:
  doxygen:
    name: Build Doxygen Docs
    runs-on: ubuntu-latest
    env:
      TOOL_DIR: "${{ github.workspace }}/doxygen-bin"
      VERSION: 1.9.7

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: 'True'

      - name: Install GraphViz
        run: |
          sudo apt-get update
          sudo apt-get install -y graphviz

      - name: Cache the Doxygen binary
        id: cache-binary
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: 'doxygen-${{ runner.os }}-${{ env.VERSION }}'
          path: '${{ env.TOOL_DIR }}/doxygen.tgz'

      - name: Download Doxygen binary
        if: ${{ steps.cache-binary.outputs.cache-hit != 'true' }}
        run: |
          echo ${{ steps.cache-binary.outputs.cache-hit }}
          mkdir -p "${{ env.TOOL_DIR }}"
          curl \
            --location \
            --output "${{ env.TOOL_DIR }}/doxygen.tgz" \
            "https://www.doxygen.nl/files/doxygen-${{ env.VERSION }}.linux.bin.tar.gz"

      - name: Unpack Doxygen binary
        run: |
          cd "${{ env.TOOL_DIR }}"
          tar xzf doxygen.tgz
          ls

      - name: Run Doxygen
        run: |
          "${{ env.TOOL_DIR }}/doxygen-${{ env.VERSION }}/bin/doxygen"

      - name: Compress Documentation Directory
        run: |
          tar czf ./docs.tgz docs

      - name: Upload Documentation
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: docs
          path: ./docs.tgz
