name: Fuzz Test

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  fuzztest:
    name: Fuzz Test
    runs-on: ubuntu-latest
    env:
      BUILD_DIR: build_fuzztest
      CLANG_VERSION: 18
      CONFIG: RelWithDebug

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake                 \
            ninja-build

      - name: Install Dependencies (LLVM)
        uses: paulhuggett/install-llvm@ad897b4b1cf03f54c1218ec6d97a23ff4b10b870 # v1.0
        with:
          version: ${{ env.CLANG_VERSION }}

      - name: Configure
        run: |
          mkdir "$BUILD_DIR"
          cmake                                            \
            -S .                                           \
            -B "$BUILD_DIR"                                \
            -G Ninja                                       \
            -D CMAKE_BUILD_TYPE="$CONFIG"                  \
            -D CMAKE_CXX_COMPILER="clang++-$CLANG_VERSION" \
            -D CMAKE_C_COMPILER="clang-$CLANG_VERSION"     \
            -D PEEJAY_FUZZTEST=Yes

      - name: Build
        run: |
          cmake --build "$BUILD_DIR" --config="$CONFIG"

      - name: Fuzz
        run: |
          find "$BUILD_DIR" -type f -executable -name \*unittests -exec {} --fuzz_for 10s \;
